doctype html
html(lang='en', ng-app='food-diary')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Food Diary
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cosmo/bootstrap.min.css')
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href=isProd ? '/index.min.css' : '/index.css')
    link(rel='shortcut icon', href='/favicon.ico')
  body(ng-controller='master')
    .container-fluid
      .row
        .col-xs-12
          h1 Food Diary
          button.btn.btn-success(ng-click='showUserForm()') Show User Form
      form(name='userForm', novalidate)
      .row(ng-show='isUserFormShown')
        .col-xs-6
          .form-group
            label(for='name') Name
            input.form-control(type='text', name='name', ng-model='user.name')
          .form-group
            label(for='age') Age
            input.form-control(type='number', name='age', ng-model='user.age')
          .form-group
            label(for='gender') Gender
            select.form-control(name='gender', ng-model='user.gender')
              option male
              option female
        .col-xs-6
          .form-group
            label(for='weight') Weight
            input.form-control(type='number', name='weight', ng-model='user.weight')
          .form-group
            label(for='height') Height
            input.form-control(type='number', name='age', ng-model='user.height')
          .form-group
            label(for='heightunits') Height
            select.form-control(name='heightunits', ng-model='user.heightunits')
              option cm
              option inches
          button.btn.btn-primary.form-control(ng-click='saveUser()') Save User
      form(name='foodForm', novalidate)
      .row
        .col-xs-3
          .form-group
            label(for='desc') Food Desc
            input.form-control(type='text', name='desc', ng-model='food.desc')
        .col-xs-3
          .form-group
            label(for='meal') Meal
            select.form-control(name='meal', ng-model='food.meal')
              option breakfast
              option lunch
              option dinner
        .col-xs-3
          .form-group
            label(for='calories') Calories/Serving
            input.form-control(type='number', name='calories', ng-model='food.calsPerServing')
        .col-xs-3
          .form-group
            label(for='servings') Servings
            input.form-control(type='number', name='servings', ng-model='food.servings', value='1')
          button.btn.btn-primary.form-control(ng-click='saveFood()') Save Food
      .row
        .col-xs-12
          table.table.table-striped
            thead
              tr
                th Edit
                th Delete
                th Desc
                th Meal
                th Calories
                th Servings
                th Date
            tbody
              tr(ng-repeat='food in foods')
                td: button.btn.btn-info.btn-xs(ng-click='editFood(food)') Edit
                td: button.btn.btn-danger.btn-xs(ng-click='removeFood(food)') Delete
                td {{food.desc}}
                td {{food.meal}}
                td {{food.calsPerServing}}
                td {{food.servings}}
                td {{food.date | date: 'short'}}
      .row
        .col-xs-6
          p Starting weight: {{user.weight}}
          p Ending weight: {{endWeight | number: 1}}
          p Starting BMI: {{bmi | number : 1}}
            
    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
    script(src='/vendor/lodash/lodash.min.js')
    script(src='/vendor/firebase/firebase.js')
    script(src='/vendor/angular/angular.min.js')
    script(src='/vendor/angularfire/dist/angularfire.min.js')
    script(src=isProd ? '/index.min.js' : '/index.js')
